body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #1F2833;
}

.title-wrap{
  width: 30%;
  height: auto;
  margin-left: 35%;
  text-align: center;
  background-color: #0B0C10;
  border-radius: 5px;
}

.list-body{
  width: 60%;
  height: auto;
  margin-left: 20%;
  text-align: center;
  background-color: #0B0C10;
}

.title{
  font-size: 3rem;
  margin: 20px;
  padding: 10px;
  color: #66FCF1;
}

p{
  font-size: 3rem;
  padding: 10px;
  color: #66FCF1;
}
